<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPLE</title>
    <!-- link to CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!-- Navbar -->
    <header>
        <!-- Nav -->
        <div class="nav container">
            <!-- Logo -->
            <a href="#" class="logo">APPLE<span><i class='bx bxl-apple'></i></span></a>
            
            <!-- Cart Icon -->
            <i class='bx bx-shopping-bag' data-quantity="0" id="cart-icon"></i>
            <!-- cart -->
            <div class="cart">
            <h2 class="cart-title">Your Cart</h2>
            <!-- Content -->
            <div class="cart-content">
                
            </div>
            <!-- Total -->
            <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">$0</div>
            </div>
            <!-- Buy Button -->
            <button type="button" class="btn-buy">Pay Now</button>
            <!-- Close Cart -->
            <i class='bx bx-x' id="close-cart"></i>
        </div>
    </div>
    </header>
    <!-- Products -->
    <section class="shop container">
        <h2 class="section-title">Apple Store</h2>
        <div class="div-select">
            <select class="custom-select"  id="Loai">
                  <option value="all">Tất cả</option>
                  <option value="iphone">Iphone</option>
                  <option value="Samsung">SamSung</option>
                </select>
            </div>
        
        <!-- Shop Content -->
        <div class="shop-content" id="t-body">
            
    </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="../js/main.js"></script>
</body>
</html>